PORT=3000
MONGO_URI=your_mongodb_connection_string
JWT_SECRET=your_jwt_secret

ADMIN_EMAIL=enter_admin_email

INNGEST_EVENT_KEY=your_inngest_event_key
INNGEST_SIGNING_KEY=your_inngest_singing_key

SMTP_USER=brevo_smtp_login
SMTP_PASS=brevo_smtp_key
SENDER_EMAIL=your_sending_email